body {
  background-color: #011313;
}

.company-logo-bar {
  align-items: center;
  background-color: #00c098;
  color: #011313;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 50px;
}
.image {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.container {
  margin-top: 10px;
  background-color: #00c098;
  color: #011313;
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.page {
  background-color: #011313;
  margin: 10px;
  color: #00c098;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-flow: column wrap;
}
.current-status-bar {
  display: flex;
  flex-flow: row wrap;
}
.button {
  margin: 20px;
}
#button {
  border-radius: 20px;
}
.each-person {
  margin: 20px;
}
